.portrait {
  /* width: 80%; */
  box-shadow: 0 0 100px #fa7350;
  transition: all 1s ease-out;
  border-radius: 50%;
}
.portrait:hover {
  box-shadow: 0 0 400px 25px #fa7350;
  translate: 0 -20px;
}
@media (width < 1000px){
  .home_text {
    text-align: center !important;
    margin: 0 auto;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
}