.nav_item {
  font-weight: 500;
}
.dark_text {
  display: none;
}
.nav_item {
  font-weight: 500 !important;
  background: linear-gradient(to right,transparent,transparent),
  linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.nav_item:hover {
  background-size: 0 0.1em, 100% 0.1em;

}
.navbar {
  position: sticky !important;
  top: 0 !important;
  z-index: 1000 !important;
  background: transparent !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
}
@media (width < 1000px) {
  .nav_item_container {
    text-align: center !important;
    margin: 0 auto !important;
  }
  .mode {
    margin: 0 auto !important;
  }
  .dark_text {
    display: inline;
  }
}
@media (width < 500px) {
  .navbar {
    /* margin: 3rem 2rem !important; */
  }
}
